.top-nav {
    background-color: darkslategray;
    color: white;

}


.top-nav h1 {
    font-size: 24px;
}

.section {
    padding-top: 2vh;
    padding-bottom: 2vh;


}

.section form {
    margin: 0 15%;
    max-width: 45vw;
    border: solid 1px lightgray;
    border-radius: 4px;
}

form {
    margin: auto;
    padding: 20px;
}
